[push]
	default = matching
[user]
	name = Rahmat Awaludin
	email = rahmat.awaludin@gmail.com
	signingkey = 9412E5F1B8E908DB
[core]
	excludesfile = /Users/rahmatawaludin/.gitignore
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset %ad %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=short
  hist = log --graph --full-history --all --pretty=format:'%Cred%h%Creset %ad %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=short
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/rahmatawaludin/.stCommitMsg
[url "git@github.com:"]
	insteadOf = https://github.com/
