snippet img
![$1](images/$2.png)
$0
endsnippet

snippet insert
leanpub-start-insert
$1
leanpub-end-insert
$0
endsnippet

snippet code
{title="$1", lang="${2:php}", linenos=${3:off}, starting-line-number="${4}"}
~~~~~~~~
${5}
~~~~~~~~
$0
endsnippet

snippet link
[$1]($2)$0
endsnippet
